# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Entorno
.env
.env.production
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.pid

# OS
.DS_Store
Thumbs.db
